@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i);
/* @import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"); */

a,
address,
b,
big,
body,
center,
code,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
label,
li,
p,
s,
section,
small,
span,
strong,
time,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
footer,
section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
body {
  -webkit-text-size-adjust: none;
}
body {
  -ms-overflow-style: scrollbar;
}
@media screen and (max-width: 480px) {
  body,
  html {
    min-width: 320px;
  }
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  background: #000;
}
body.is-preload *,
body.is-preload :after,
body.is-preload :before {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
html {
  font-size: 18pt;
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 14pt;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  html {
    font-size: 11pt;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 10pt;
  }
}
body {
  background-color: #000;
  color: #fff;
}
#main-section {
  overflow: hidden;
}
.unblockParticle {
  index: 50;
  position: absolute;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
}
#particles2-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
}
#particles3-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
}
#particles4-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}
a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
b,
strong {
  font-weight: 400;
}
i {
  font-style: italic;
}
p {
  margin: 0 0 2rem 0;
}
p.major {
  font-size: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: -0.05em;
  margin: 0 0 1rem 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 5.5rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.7rem;
}
code {
  border-radius: 4px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25rem;
  padding: 0.25rem 0.325rem;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
@media screen and (max-width: 736px) {
  p.major {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}
a {
  color: #fff;
}
a:hover {
  color: #be3131;
}
b,
strong {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8a312;
}
code {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}
.row > * {
  box-sizing: border-box;
}
.row > .off-1 {
  margin-left: 8.33333%;
}
.row > .off-2 {
  margin-left: 16.66667%;
}
.row > .off-3 {
  margin-left: 25%;
}
.row > .off-4 {
  margin-left: 33.33333%;
}
.row > .off-5 {
  margin-left: 41.66667%;
}
.row > .off-6 {
  margin-left: 50%;
}
.row > .off-7 {
  margin-left: 58.33333%;
}
.row > .off-8 {
  margin-left: 66.66667%;
}
.row > .off-9 {
  margin-left: 75%;
}
.row > .off-10 {
  margin-left: 83.33333%;
}
.row > .off-11 {
  margin-left: 91.66667%;
}
.row > .off-12 {
  margin-left: 100%;
}
.row {
  margin-top: 0;
  margin-left: -2rem;
}
.row > * {
  padding: 0 0 0 2rem;
}
@media screen and (max-width: 1680px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row > .off-1-small {
    margin-left: 8.33333%;
  }
  .row > .off-2-small {
    margin-left: 16.66667%;
  }
  .row > .off-3-small {
    margin-left: 25%;
  }
  .row > .off-4-small {
    margin-left: 33.33333%;
  }
  .row > .off-5-small {
    margin-left: 41.66667%;
  }
  .row > .off-6-small {
    margin-left: 50%;
  }
  .row > .off-7-small {
    margin-left: 58.33333%;
  }
  .row > .off-8-small {
    margin-left: 66.66667%;
  }
  .row > .off-9-small {
    margin-left: 75%;
  }
  .row > .off-10-small {
    margin-left: 83.33333%;
  }
  .row > .off-11-small {
    margin-left: 91.66667%;
  }
  .row > .off-12-small {
    margin-left: 100%;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 360px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row {
    margin-top: 0;
    margin-left: -2rem;
  }
  .row > * {
    padding: 0 0 0 2rem;
  }
}
.button,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.75rem;
  max-width: 20rem;
  height: 3.75em;
  line-height: 3.75em;
  border-radius: 3.75em;
  padding: 0 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.button.icon:before,
button.icon:before {
  margin-right: 0.5rem;
}
.button.small,
button.small {
  font-size: 0.6rem;
  height: 3.325em;
  line-height: 3.325em;
  border-radius: 3.325em;
  padding: 0 2em;
}
.button.wide,
button.wide {
  min-width: 14em;
}
.button:disabled,
button:disabled {
  pointer-events: none;
  opacity: 0.25;
}
.button,
button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #212121;
  color: #fff !important;
}
.button:hover,
button:hover {
  box-shadow: inset 0 0 0 5px #f8a312;
  color: #f8a312 !important;
}
.button:active,
button:active {
  background-color: rgba(71, 211, 229, 0.2);
  box-shadow: inset 0 0 0 5px #e54747;
  color: #e54747 !important;
}
label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
::-webkit-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
label {
  color: #fff;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75) !important;
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75) !important;
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75) !important;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75) !important;
}
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  text-align: center;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.icon > .label {
  display: none;
}
.icon:before {
  line-height: inherit;
}
.icon.solid:before {
  font-weight: 900;
}
.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}
.icon.style2:before {
  border-radius: 2.75em;
  display: inline-block;
  height: 2.75em;
  line-height: 2.75em;
  width: 2.75em;
}
.icon.major {
  display: block;
  margin: 0 0 1rem 0;
}
.icon.major:before {
  font-size: 1.25rem;
}
a.icon.style2:before {
  -moz-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.icon.style2:before {
  box-shadow: inset 0 0 0 2px #212121;
}
a.icon.style2:hover:before {
  box-shadow: inset 0 0 0 5px #f8a312;
  color: #f8a312;
}
a.icon.style2:active:before {
  background-color: rgba(71, 211, 229, 0.1);
  box-shadow: inset 0 0 0 5px #f8a312;
  color: #f8a312;
}
.roundrect {
  position: relative;
  margin: 5;
  padding: 5;
  border-radius: 16px;
}
.img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.image {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.image img {
  display: block;
  border-radius: 4px;
}
.image.left,
.image.right {
  width: 40%;
  max-width: 10rem;
}
.image.left img,
.image.right img {
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 1.5rem 1rem 0;
  top: 0.25rem;
}
.image.right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  top: 0.25rem;
}
.image.main {
  display: block;
  margin: 0 0 3rem 0;
  width: 100%;
}
.image.main img {
  width: 100%;
}
ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}
ul li {
  padding-left: 0.5rem;
}
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li {
  border-top: solid 1px;
  padding: 0.5rem 0;
}
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.2);
}
ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}
ul.actions li {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}
ul.actions.stacked {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0;
}
ul.actions.stacked li {
  padding: 1.3rem 0 0 0;
}
ul.actions.stacked li:first-child {
  padding-top: 0;
}
@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }
  ul.actions:not(.fixed) li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    padding: 1rem 0 0 0;
    text-align: center;
    width: 100%;
  }
  ul.actions:not(.fixed) li > * {
    width: 100%;
  }
  ul.actions:not(.fixed) li:first-child {
    padding-top: 0;
  }
  ul.actions:not(.fixed) li .button,
  ul.actions:not(.fixed) li button {
    width: 100%;
  }
  ul.actions:not(.fixed) li .button.icon:before,
  ul.actions:not(.fixed) li button.icon:before {
    margin-left: -0.5rem;
  }
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 0.75rem 0 0;
}
ul.icons li:last-child {
  padding-right: 0;
}
.banner.onload-content-fade-up .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
body.is-preload .banner.onload-content-fade-up .content {
  -moz-transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
  opacity: 0;
}
.banner.onload-content-fade-left .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
body.is-preload .banner.onload-content-fade-left .content {
  -moz-transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  opacity: 0;
}
.banner.onload-content-fade-right .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
body.is-preload .banner.onload-content-fade-right .content {
  -moz-transform: translateX(-1rem);
  -webkit-transform: translateX(-1rem);
  -ms-transform: translateX(-1rem);
  transform: translateX(-1rem);
  opacity: 0;
}
.banner.onload-content-fade-in .content {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
body.is-preload .banner.onload-content-fade-in .content {
  opacity: 0;
}
.banner.onload-image-fade-up .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onload-image-fade-up .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
body.is-preload .banner.onload-image-fade-up .image {
  -moz-transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
  opacity: 0;
}
body.is-preload .banner.onload-image-fade-up .image img {
  opacity: 0;
}
.banner.onload-image-fade-left .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onload-image-fade-left .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
body.is-preload .banner.onload-image-fade-left .image {
  -moz-transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  opacity: 0;
}
body.is-preload .banner.onload-image-fade-left .image img {
  opacity: 0;
}
.banner.onload-image-fade-right .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onload-image-fade-right .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
body.is-preload .banner.onload-image-fade-right .image {
  -moz-transform: translateX(-1rem);
  -webkit-transform: translateX(-1rem);
  -ms-transform: translateX(-1rem);
  transform: translateX(-1rem);
  opacity: 0;
}
body.is-preload .banner.onload-image-fade-right .image img {
  opacity: 0;
}
.banner.onload-image-fade-in .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
body.is-preload .banner.onload-image-fade-in .image img {
  opacity: 0;
}
.banner.onscroll-content-fade-up .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-content-fade-left .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-content-fade-right .content {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-content-fade-in .content {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
.banner.onscroll-image-fade-up .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-image-fade-up .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
.banner.onscroll-image-fade-left .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-image-fade-left .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
.banner.onscroll-image-fade-right .image {
  -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out,
    -webkit-transform 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.banner.onscroll-image-fade-right .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  -moz-transition-delay: 0.5625s;
  -webkit-transition-delay: 0.5625s;
  -ms-transition-delay: 0.5625s;
  transition-delay: 0.5625s;
}
.banner.onscroll-image-fade-in .image img {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
.banner.style1 {
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  overflow-x: hidden;
}
.banner.style1 .content {
  padding: 7rem 7rem 5rem 7rem;
  -moz-align-self: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
  max-width: 48rem;
  margin: 0 auto;
}
.banner.style1 .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 0;
  width: 50%;
}
.banner.style1 .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
@media screen and (max-width: 1680px) {
  .banner.style1 .content {
    padding: 5rem 5rem 3rem 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner.style1 .content {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 980px) {
  .banner.style1 .content {
    padding: 3.75rem 3rem 1.75rem 3rem;
  }
}
@media screen and (max-width: 736px) {
  .banner.style1 .content {
    padding: 2.5rem 2rem 0.5rem 2rem;
  }
}
@media screen and (orientation: portrait) {
  .banner.style1 {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner.style1 .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  .banner.style1 .image {
    width: 100%;
    max-width: 100%;
    height: 45vh;
  }
}
.banner.style1.fullscreen {
  min-height: 100vh;
}
@media screen and (orientation: portrait) {
  .banner.style1.fullscreen .content {
    min-height: 50vh;
  }
  .banner.style1.fullscreen .image {
    height: 50vh;
  }
}
.banner.style1.orient-right {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media screen and (orientation: portrait) {
  .banner.style1.orient-right {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.banner.style1.content-align-center {
  text-align: center;
}
.banner.style1.content-align-right {
  text-align: right;
}
@media screen and (orientation: portrait) {
  .banner.style1.content-align-right {
    text-align: center;
  }
}
.banner.style1.image-position-left .image img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}
.banner.style1.image-position-right .image img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}
.banner.style2 {
  padding: 5.25rem 5.25rem 3.25rem 5.25rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: inherit;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}
.banner.style2 .content {
  padding: 5.25rem 5.25rem 3.25rem 5.25rem;
  position: relative;
  width: 40rem;
  max-width: 100%;
  background-color: inherit;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  z-index: 1;
}
.banner.style2 .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
}
.banner.style2 .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
@media screen and (max-width: 1680px) {
  .banner.style2 {
    padding: 3.75rem 3.75rem 1.75rem 3.75rem;
  }
  .banner.style2 .content {
    padding: 3.75rem 3.75rem 1.75rem 3.75rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner.style2 {
    padding: 4rem 3rem 2rem 3rem;
  }
  .banner.style2 .content {
    padding: 4rem 3rem 2rem 3rem;
  }
}
@media screen and (max-width: 980px) {
  .banner.style2 {
    padding: 3rem 3rem 1rem 3rem;
  }
  .banner.style2 .content {
    padding: 3.75rem 2.25rem 1.75rem 2.25rem;
  }
}
@media screen and (max-width: 736px) {
  .banner.style2 {
    padding: 2rem 2rem 0.1rem 2rem;
  }
  .banner.style2 .content {
    padding: 2.5rem 1.5rem 0.5rem 1.5rem;
  }
}
.banner.style2.fullscreen {
  min-height: 100vh;
}
.banner.style2.orient-left {
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  padding-left: 0;
}
.banner.style2.orient-left .content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.banner.style2.orient-right {
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  padding-right: 0;
}
.banner.style2.orient-right .content {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.banner.style2.content-align-left {
  text-align: left;
}
.banner.style2.content-align-right {
  text-align: right;
}
.banner.style2.image-position-left .image img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}
.banner.style2.image-position-right .image img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}
.banner.style3 {
  padding: 7rem 7rem 5rem 7rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
  text-align: left;
  overflow-x: hidden;
}
.banner.style3 .content {
  width: 31.5rem;
  max-width: 100%;
}
.banner.style3 .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 21rem;
  height: 21rem;
  border-radius: 100%;
  margin: 0 3.5rem 2rem 0;
}
.banner.style3 .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
@media screen and (max-width: 1680px) {
  .banner.style3 {
    padding: 5rem 5rem 3rem 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner.style3 {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 980px) {
  .banner.style3 {
    padding: 3.75rem 3rem 1.75rem 3rem;
  }
  .banner.style3 .image {
    width: 18.375rem;
    height: 18.375rem;
  }
}
@media screen and (max-width: 736px) {
  .banner.style3 {
    padding: 2.5rem 2rem 0.5rem 2rem;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
  }
  .banner.style3 .image {
    width: 15.75rem;
    height: 15.75rem;
    margin: 0 2rem 2rem 0;
  }
}
@media screen and (orientation: portrait) {
  .banner.style3 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner.style3 .content {
    width: 34rem;
    max-width: 100%;
  }
  .banner.style3 .image {
    margin-right: 0;
  }
}
.banner.style3.fullscreen {
  min-height: 100vh;
}
.banner.style3.orient-left {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.banner.style3.orient-left .image {
  margin: 0 0 2rem 3.5rem;
}
@media screen and (max-width: 736px) {
  .banner.style3.orient-left .image {
    margin: 0 0 2rem 2rem;
  }
}
@media screen and (orientation: portrait) {
  .banner.style3.orient-left {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .banner.style3.orient-left .image {
    margin-left: 0;
  }
}
.banner.style3.content-align-center {
  text-align: center;
}
.banner.style3.content-align-right {
  text-align: right;
}
.banner.style3.image-position-left .image img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}
.banner.style3.image-position-right .image img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}
.banner.style4 {
  padding: 7rem 7rem 5rem 7rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
  text-align: left;
  overflow-x: hidden;
}
.banner.style4 .content {
  width: 31.5rem;
  max-width: 100%;
}
.banner.style4 .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 0;
  border: solid 1px;
  width: 13rem;
  height: 23.11111rem;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  margin-right: 3.5rem;
}
.banner.style4 .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.banner.style4 .image:before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px;
  border-bottom: 0;
}
.banner.style4 .image:after {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px;
  border-top: 0;
}
.banner.style4 .image:before {
  height: 2.5rem;
  background-size: 64px 32px;
  margin-top: -2.5rem;
  border-radius: 1rem 1rem 0 0;
}
.banner.style4 .image:after {
  height: 3rem;
  background-size: 64px 32px;
  margin-bottom: -3rem;
  border-radius: 0 0 1rem 1rem;
}
@media screen and (max-width: 1680px) {
  .banner.style4 {
    padding: 5rem 5rem 3rem 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner.style4 {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 980px) {
  .banner.style4 {
    padding: 3.75rem 3rem 1.75rem 3rem;
  }
  .banner.style4 .image {
    width: 11.375rem;
    height: 20.22222rem;
    margin-top: 2.1875rem;
    margin-bottom: 4.625rem;
  }
  .banner.style4 .image:before {
    height: 2.1875rem;
    background-size: 56px 28px;
    margin-top: -2.1875rem;
    border-radius: 0.875rem 0.875rem 0 0;
  }
  .banner.style4 .image:after {
    height: 2.625rem;
    background-size: 56px 28px;
    margin-bottom: -2.625rem;
    border-radius: 0 0 0.875rem 0.875rem;
  }
}
@media screen and (max-width: 736px) {
  .banner.style4 {
    padding: 2.5rem 2rem 0.5rem 2rem;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
  }
  .banner.style4 .image {
    width: 8.125rem;
    height: 14.44444rem;
    margin-top: 1.5625rem;
    margin-bottom: 3.875rem;
  }
  .banner.style4 .image:before {
    height: 1.5625rem;
    background-size: 40px 20px;
    margin-top: -1.5625rem;
    border-radius: 0.625rem 0.625rem 0 0;
  }
  .banner.style4 .image:after {
    height: 1.875rem;
    background-size: 40px 20px;
    margin-bottom: -1.875rem;
    border-radius: 0 0 0.625rem 0.625rem;
  }
}
@media screen and (orientation: portrait) {
  .banner.style4 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner.style4 .content {
    width: 34rem;
    max-width: 100%;
  }
  .banner.style4 .image {
    margin-right: 0;
    margin-left: 0;
  }
}
.banner.style4.fullscreen {
  min-height: 100vh;
}
.banner.style4.orient-left {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.banner.style4.orient-left .image {
  margin-right: 0;
  margin-left: 3.5rem;
}
@media screen and (orientation: portrait) {
  .banner.style4.orient-left {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .banner.style4.orient-left .image {
    margin-right: 0;
    margin-left: 0;
  }
}
.banner.style4.content-align-center {
  text-align: center;
}
.banner.style4.content-align-right {
  text-align: right;
}
.banner.style4.image-position-left .image img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}
.banner.style4.image-position-right .image img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}
.banner.style5 {
  padding: 7rem 7rem 5rem 7rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: inherit;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}
.banner.style5 .content {
  position: relative;
  width: 40rem;
  max-width: 100%;
  margin-bottom: 2rem;
  z-index: 1;
}
.banner.style5 .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  opacity: 0.5;
}
.banner.style5 .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
@media screen and (max-width: 1680px) {
  .banner.style5 {
    padding: 5rem 5rem 3rem 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner.style5 {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 980px) {
  .banner.style5 {
    padding: 3.75rem 3rem 1.75rem 3rem;
  }
}
@media screen and (max-width: 736px) {
  .banner.style5 {
    padding: 2.5rem 2rem 0.5rem 2rem;
  }
}
.banner.style5.fullscreen {
  min-height: 100vh;
}
.banner.style5.content-align-left {
  text-align: left;
}
.banner.style5.content-align-right {
  text-align: right;
}
.banner.style5.image-position-left .image img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}
.banner.style5.image-position-right .image img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}
.banner .image {
  background-color: rgba(0, 0, 0, 0.125);
}
.banner.style4 .image {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 0;
}
.banner.style4 .image:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64px' height='32px' viewBox='0 0 64 32' zoomAndPan='disable'%3E%3Cstyle%3Erect %7Bfill: transparent%3B stroke: rgba(0, 0, 0, 0.2)%3B stroke-width: 1px%3B %7D%3C/style%3E%3Crect rx='4' ry='4' x='11' y='12' width='42' height='8' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.banner.style4 .image:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64px' height='32px' viewBox='0 0 64 32' zoomAndPan='disable'%3E%3Cstyle%3Ecircle %7Bfill: transparent%3B stroke: rgba(0, 0, 0, 0.2)%3B stroke-width: 1px%3B %7D%3C/style%3E%3Ccircle cx='32' cy='16' r='14' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.banner.style4.android .image:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64px' height='32px' viewBox='0 0 64 32' zoomAndPan='disable'%3E%3Cstyle%3Erect %7Bfill: transparent%3B stroke: rgba(0, 0, 0, 0.2)%3B stroke-width: 1px%3B %7D%3C/style%3E%3Crect rx='4' ry='4' x='6' y='4' width='52' height='24' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
}
@-moz-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wrapper.style1 > .inner {
  padding: 7rem 3.5rem 5rem 3.5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 64rem;
}
.wrapper.style1 > .inner.small {
  width: 32rem;
}
@media screen and (max-width: 1680px) {
  .wrapper.style1 > .inner {
    padding: 5rem 2.5rem 3rem 2.5rem;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper.style1 > .inner {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 980px) {
  .wrapper.style1 > .inner {
    padding: 4.5rem 3rem 2.5rem 3rem;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.style1 > .inner {
    padding: 3rem 2rem 1rem 2rem;
  }
}
.wrapper.style2 {
  padding: 7rem;
  background-color: #eee;
}
.wrapper.style2 > .inner {
  padding: 5.25rem 3.5rem 3.25rem 3.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 64rem;
  z-index: 1;
}
.wrapper.style2 > .inner.small {
  width: 32rem;
}
@media screen and (max-width: 1680px) {
  .wrapper.style2 {
    padding: 5rem;
  }
  .wrapper.style2 > .inner {
    padding: 3.75rem 2.5rem 1.75rem 2.5rem;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper.style2 {
    padding: 4rem;
  }
  .wrapper.style2 > .inner {
    padding: 3rem 2rem 1rem 2rem;
  }
}
@media screen and (max-width: 980px) {
  .wrapper.style2 {
    padding: 2.25rem;
  }
  .wrapper.style2 > .inner {
    padding: 3rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.style2 {
    padding: 1.5rem;
  }
  .wrapper.style2 > .inner {
    padding: 2rem 1.5rem 0.1rem 1.5rem;
  }
}
#wrapper {
  background-color: inherit;
  width: 100%;
  overflow-x: hidden;
}
#wrapper.divided > * {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}
#wrapper.divided > :first-child {
  box-shadow: none !important;
}
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #212121;
  overflow-y: scroll;
  max-width: device-width;
  height: 100%;
  z-index: 1;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: "Open Sans", sans-serif;
}
.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #212121;
  color: #f8a312;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.textPolicy {
  text-align: left;
  font-size: 12px;
}
.headerPolicy {
  text-align: left;
  font-size: 16px;
}
.textFeatures {
  text-align: left;
  padding-left: 25px;
}
#countdown-container {
  display: inline-block;
  width: 300px;
  margin: 20px 0;
  border-radius: 16px;
  background: #212121;
}
#countdown {
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  padding: 20px;
  background: #212121;
  color: #f8a312;
}
#countdown span {
  font-weight: 700;
  font-size: 25px;
}
.hover-in {
  transition: 0.3s ease-out;
}
.hover-out {
  transition: 0.3s ease-in;
}
strong {
  font-weight: 700;
}
